In [62]:
import pandas as pd

df = pd.read_csv('Airbnb_Open_Data_ch5.csv')

Get rows from a slice index

In [11]:
df.loc[10:12, ['id', 'host_id', 'name']]

         id      host_id                                name
10  1006859   1280143094  Cute & Cozy Lower East Side 1 bdrm
11  1007411  18824631834    Beautiful 1br on Upper West Side
12  1007964  88136055909     Central Manhattan/near Broadway

Get rows from a slice position - stop value is exclusive with iloc

In [24]:
df.iloc[10:12, [0, 2, 1]]

         id      host_id                                name
10  1006859   1280143094  Cute & Cozy Lower East Side 1 bdrm
11  1007411  18824631834    Beautiful 1br on Upper West Side

The following includes the stop value from the list of positions

In [16]:
df.iloc[[10, 11, 12], [0, 2, 1]]

         id      host_id                                name
10  1006859   1280143094  Cute & Cozy Lower East Side 1 bdrm
11  1007411  18824631834    Beautiful 1br on Upper West Side
12  1007964  88136055909     Central Manhattan/near Broadway

Custom indexes

Set host_id as the index

In [32]:
print(df.host_id.is_unique)
df = df.set_index('host_id')
df = df.sort_index()
df.index.is_monotonic_increasing

Print duplicate indexes

In [32]:
df = df.drop_duplicates()
dupe_indexes = df[df.index.duplicated()].index
df.loc[dupe_indexes]

AttributeError: 'DataFrame' object has no attribute 'host_id'

update the index and verify its uniqueness

In [64]:
df = df.reset_index()
new_id = df.host_id.max() + 1
idx_change = df[df.host_id == 29531702698].index[0]
df.loc[idx_change, 'host_id'] = new_id
df.index.is_unique

True

Hierarchical Index

Set to a multiindex of neighborhood_group and neighbor

In [70]:
df = df.set_index(['neighborhood_group', 'neighborhood'])

Selecting from this DataFrame using loc (specify values for each index) - results in a warning

In [71]:
df.loc["Brooklyn", "Cobble Hill"]

/var/folders/1l/8dzx8sdx5_d8t3q40bczp2k00000gn/T/ipykernel_54421/1811904925.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc["Brooklyn", "Cobble Hill"]

                                 level_0   index        id  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill       143     143   1080315
                   Cobble Hill       220     220   1122842
                   Cobble Hill       693     693   1384080
                   Cobble Hill       807     807   1447042
                   Cobble Hill      1428    1428   1790020
...                                  ...     ...       ...
                   Cobble Hill    101689  101689  57164171
                   Cobble Hill    101976  101976  57322681
                   Cobble Hill    102019  102019  57346430
                   Cobble Hill    102417  102417  20379886
                   Cobble Hill    102573  102573   6080839

                                                                              name  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill                        Sunny, Cobble Hill Apartment
                   Cobble Hill   Clean & bright 1BR in Cobble Hill, GREAT locat...
                   Cobble Hill                   Alchemy BnB - room in artist loft
                   Cobble Hill                  Cozy, Clean Cobble Hill Brownstone
                   Cobble Hill                  Homey Townhouse + PRIVATE Bathroom
...                                                                            ...
                   Cobble Hill         Spacious and charming apartment in Brooklyn
                   Cobble Hill            Birds nest Oasis in historic cobble hill
                   Cobble Hill               Cozy private room in Brooklyn Heights
                   Cobble Hill           2 Bedroom with backyard and best location
                   Cobble Hill     2BR apt. in converted church with large terrace

                                     host_id host_identity_verified  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill   82129516523            unconfirmed
                   Cobble Hill   38579657286            unconfirmed
                   Cobble Hill   59810199450               verified
                   Cobble Hill   97713158436            unconfirmed
                   Cobble Hill    7381654812            unconfirmed
...                                      ...                    ...
                   Cobble Hill   44689314295            unconfirmed
                   Cobble Hill   46214507543            unconfirmed
                   Cobble Hill   66529113083            unconfirmed
                   Cobble Hill   11750337247               verified
                   Cobble Hill   38845651458               verified

                                   host_name  latitude  longitude  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill        Hailey  40.68570  -73.99183
                   Cobble Hill         Baker  40.68926  -73.99386
                   Cobble Hill      Morrison  40.68946  -73.99385
                   Cobble Hill        Fowler  40.68538  -74.00056
                   Cobble Hill   Chris & Don  40.68648  -73.99257
...                                      ...       ...        ...
                   Cobble Hill        Marija  40.68766  -73.99125
                   Cobble Hill       Pioneer  40.68886  -73.99825
                   Cobble Hill       Colette  40.68934  -73.99438
                   Cobble Hill          Liat  40.68574  -73.99958
                   Cobble Hill        Annika  40.68836  -73.99763

                                instant_bookable  ...    price service_fee  \
neighborhood_group neighborhood                   ...
Brooklyn           Cobble Hill             False  ...  $1,109        $222
                   Cobble Hill              True  ...    $316         $63
                   Cobble Hill              True  ...    $844        $169
                   Cobble Hill             False  ...    $233         $47
                   Cobble Hill             False  ...    $497         $99
...                                          ...  ...      ...         ...
                   Cobble Hill              True  ...    $543        $109
                   Cobble Hill             False  ...    $279         $56
                   Cobble Hill             False  ...    $928        $186
                   Cobble Hill              True  ...    $106         $21
                   Cobble Hill              True  ...    $797        $159

                                 minimum_nights number_of_reviews last_review  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill              NaN               4.0         NaN
                   Cobble Hill              2.0             222.0         NaN
                   Cobble Hill              4.0             216.0    7/1/2019
                   Cobble Hill              3.0             103.0    8/1/2017
                   Cobble Hill              3.0             254.0   6/23/2019
...                                         ...               ...         ...
                   Cobble Hill              4.0               8.0    6/3/2019
                   Cobble Hill             30.0              11.0   6/17/2019
                   Cobble Hill              1.0               3.0   3/27/2017
                   Cobble Hill              3.0              31.0   6/22/2019
                   Cobble Hill              6.0               6.0  10/27/2018

                                 reviews_per_month  review_rate_number  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill                0.04                 3.0
                   Cobble Hill                2.12                 2.0
                   Cobble Hill                2.31                 5.0
                   Cobble Hill                1.13                 5.0
                   Cobble Hill                3.05                 4.0
...                                            ...                 ...
                   Cobble Hill                0.29                 4.0
                   Cobble Hill                0.47                 3.0
                   Cobble Hill                0.11                 2.0
                   Cobble Hill                2.98                 2.0
                   Cobble Hill                0.13                 5.0

                                calculated_host_listings_count  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
...                                                        ...
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0

                                 availability_365  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill              351.0
                   Cobble Hill               23.0
                   Cobble Hill                NaN
                   Cobble Hill              354.0
                   Cobble Hill              405.0
...                                           ...
                   Cobble Hill                1.0
                   Cobble Hill              324.0
                   Cobble Hill                0.0
                   Cobble Hill              101.0
                   Cobble Hill               89.0

                                                                       house_rules
neighborhood_group neighborhood
Brooklyn           Cobble Hill                                                 NaN
                   Cobble Hill   People live downstairs, so please don't walk a...
                   Cobble Hill   Please be respectful of the space and building...
                   Cobble Hill   Quiet Respectful Friendly Clean No smoking of ...
                   Cobble Hill   Please Note: This unit was just renovated in N...
...                                                                            ...
                   Cobble Hill   We ask that guest DO NOT host any additional g...
                   Cobble Hill   This is a no-smoking apartment. If you do smok...
                   Cobble Hill   Must be 21 to book No loud music No parties No...
                   Cobble Hill   NO PETS!  NO SMOKING ON PREMISES! NO PARTY! A ...
                   Cobble Hill                                                 NaN

[199 rows x 23 columns]

Get rid of the warning by sorting the index. Null values must be sorted first, otherwise the warning will persist.

In [72]:
df = df.sort_index(na_position='first')

In [73]:
df

                                       level_0  index        id  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant      448    448   1248766
                   Bushwick                 91     91   1051595
                   Bushwick                249    249   1138859
                   Bushwick              40383  40383  23304867
                   Chelsea                 196    196   1109587
...                                        ...    ...       ...
Staten Island      Woodrow                3050   3050   2685851
                   Woodrow               52273  52273  29871714
                   Woodrow               71226  71226  40339456
brookln            South Slope              13     13   1008516
manhatan           Chelsea                  18     18   1011277

                                                                                    name  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant                Hancock Town House!-Stuyvesant Mews
                   Bushwick                          Sunny room+Pvte office in huge loft
                   Bushwick                                BROWNSTONE SUNDRENCHED BEAUTY
                   Bushwick            2000 sq ft Unique Cozy Art Home with Private Room
                   Chelsea                                   Prime Location in Manhattan
...                                                                                  ...
Staten Island      Woodrow                                 Spacious center hall colonial
                   Woodrow                      Cozy pet-friendly one bedroom apartment.
                   Woodrow                                 Spacious center hall colonial
brookln            South Slope            Lovely Room 1, Garden, Best Area, Legal rental
manhatan           Chelsea                                               Chelsea Perfect

                                           host_id host_identity_verified  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant  17302896128            unconfirmed
                   Bushwick            12884105458                    NaN
                   Bushwick            49595827306                    NaN
                   Bushwick            57604959046            unconfirmed
                   Chelsea             47239505401               verified
...                                            ...                    ...
Staten Island      Woodrow             27615498864               verified
                   Woodrow              4433486287            unconfirmed
                   Woodrow             57167138914            unconfirmed
brookln            South Slope         26802410424               verified
manhatan           Chelsea             73862528370               verified

                                              host_name  latitude  longitude  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant             Lucia  40.68669  -73.91989
                   Bushwick                      Albert  40.70032  -73.93830
                   Bushwick                  Richardson  40.68800  -73.91710
                   Bushwick                    Angeline  40.69085  -73.90937
                   Chelsea                          NaN  40.74859  -73.99671
...                                                 ...       ...        ...
Staten Island      Woodrow                        Donna  40.53884  -74.19826
                   Woodrow             Tatiana And Omar  40.53777  -74.20674
                   Woodrow                        Donna  40.53884  -74.19826
brookln            South Slope                    Darcy  40.66829  -73.98779
manhatan           Chelsea                      Alberta  40.74192  -73.99501

                                      instant_bookable  ...    price  \
neighborhood_group neighborhood                         ...
NaN                Bedford-Stuyvesant            False  ...    $999
                   Bushwick                      False  ...    $728
                   Bushwick                       True  ...  $1,028
                   Bushwick                      False  ...    $312
                   Chelsea                        True  ...    $267
...                                                ...  ...      ...
Staten Island      Woodrow                       False  ...  $1,025
                   Woodrow                        True  ...     $78
                   Woodrow                        True  ...  $1,025
brookln            South Slope                    True  ...    $580
manhatan           Chelsea                         NaN  ...    $460

                                      service_fee  minimum_nights  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant       $200              1.0
                   Bushwick                 $146              4.0
                   Bushwick                 $206              3.0
                   Bushwick                  $62              1.0
                   Chelsea                   $53              1.0
...                                           ...             ...
Staten Island      Woodrow                  $205              7.0
                   Woodrow                   $16              1.0
                   Woodrow                  $205              7.0
brookln            South Slope              $116              4.0
manhatan           Chelsea                    NaN             1.0

                                      number_of_reviews last_review  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant              27.0   10/8/2017
                   Bushwick                        24.0         NaN
                   Bushwick                       111.0         NaN
                   Bushwick                         0.0         NaN
                   Chelsea                        375.0   6/18/2019
...                                                 ...         ...
Staten Island      Woodrow                          0.0         NaN
                   Woodrow                         21.0   2/22/2022
                   Woodrow                          0.0         NaN
brookln            South Slope                    167.0   6/24/2019
manhatan           Chelsea                        260.0    7/1/2019

                                       reviews_per_month  review_rate_number  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant               0.28                 1.0
                   Bushwick                         0.28                 5.0
                   Bushwick                         2.13                 NaN
                   Bushwick                          NaN                 4.0
                   Chelsea                          3.52                 3.0
...                                                  ...                 ...
Staten Island      Woodrow                           NaN                 5.0
                   Woodrow                          3.66                 2.0
                   Woodrow                           NaN                 5.0
brookln            South Slope                      1.34                 4.0
manhatan           Chelsea                          2.12                 3.0

                                      calculated_host_listings_count  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant                            4.0
                   Bushwick                                      1.0
                   Bushwick                                      1.0
                   Bushwick                                      1.0
                   Chelsea                                       1.0
...                                                              ...
Staten Island      Woodrow                                       1.0
                   Woodrow                                       1.0
                   Woodrow                                       1.0
brookln            South Slope                                   3.0
manhatan           Chelsea                                       1.0

                                       availability_365  \
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant             181.0
                   Bushwick                         NaN
                   Bushwick                       150.0
                   Bushwick                       269.0
                   Chelsea                          NaN
...                                                 ...
Staten Island      Woodrow                         56.0
                   Woodrow                        304.0
                   Woodrow                          0.0
brookln            South Slope                     47.0
manhatan           Chelsea                        325.0

                                                                             house_rules
neighborhood_group neighborhood
NaN                Bedford-Stuyvesant                                                NaN
                   Bushwick            To enjoy, relax, feel safe and cozy. Also, kee...
                   Bushwick            Please review the terms of this rental agreeme...
                   Bushwick                                                          NaN
                   Chelsea             ANDREA'S HOUSE RULES:  ** All overnight guests...
...                                                                                  ...
Staten Island      Woodrow                                                           NaN
                   Woodrow                                                           NaN
                   Woodrow                                                           NaN
brookln            South Slope                                                       NaN
manhatan           Chelsea                                                           NaN

[102599 rows x 23 columns]

In [74]:
df.loc["Brooklyn", "Cobble Hill"]

                                 level_0   index        id  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill       143     143   1080315
                   Cobble Hill       220     220   1122842
                   Cobble Hill       693     693   1384080
                   Cobble Hill       807     807   1447042
                   Cobble Hill      1428    1428   1790020
...                                  ...     ...       ...
                   Cobble Hill    101689  101689  57164171
                   Cobble Hill    101976  101976  57322681
                   Cobble Hill    102019  102019  57346430
                   Cobble Hill    102417  102417  20379886
                   Cobble Hill    102573  102573   6080839

                                                                              name  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill                        Sunny, Cobble Hill Apartment
                   Cobble Hill   Clean & bright 1BR in Cobble Hill, GREAT locat...
                   Cobble Hill                   Alchemy BnB - room in artist loft
                   Cobble Hill                  Cozy, Clean Cobble Hill Brownstone
                   Cobble Hill                  Homey Townhouse + PRIVATE Bathroom
...                                                                            ...
                   Cobble Hill         Spacious and charming apartment in Brooklyn
                   Cobble Hill            Birds nest Oasis in historic cobble hill
                   Cobble Hill               Cozy private room in Brooklyn Heights
                   Cobble Hill           2 Bedroom with backyard and best location
                   Cobble Hill     2BR apt. in converted church with large terrace

                                     host_id host_identity_verified  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill   82129516523            unconfirmed
                   Cobble Hill   38579657286            unconfirmed
                   Cobble Hill   59810199450               verified
                   Cobble Hill   97713158436            unconfirmed
                   Cobble Hill    7381654812            unconfirmed
...                                      ...                    ...
                   Cobble Hill   44689314295            unconfirmed
                   Cobble Hill   46214507543            unconfirmed
                   Cobble Hill   66529113083            unconfirmed
                   Cobble Hill   11750337247               verified
                   Cobble Hill   38845651458               verified

                                   host_name  latitude  longitude  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill        Hailey  40.68570  -73.99183
                   Cobble Hill         Baker  40.68926  -73.99386
                   Cobble Hill      Morrison  40.68946  -73.99385
                   Cobble Hill        Fowler  40.68538  -74.00056
                   Cobble Hill   Chris & Don  40.68648  -73.99257
...                                      ...       ...        ...
                   Cobble Hill        Marija  40.68766  -73.99125
                   Cobble Hill       Pioneer  40.68886  -73.99825
                   Cobble Hill       Colette  40.68934  -73.99438
                   Cobble Hill          Liat  40.68574  -73.99958
                   Cobble Hill        Annika  40.68836  -73.99763

                                instant_bookable  ...    price service_fee  \
neighborhood_group neighborhood                   ...
Brooklyn           Cobble Hill             False  ...  $1,109        $222
                   Cobble Hill              True  ...    $316         $63
                   Cobble Hill              True  ...    $844        $169
                   Cobble Hill             False  ...    $233         $47
                   Cobble Hill             False  ...    $497         $99
...                                          ...  ...      ...         ...
                   Cobble Hill              True  ...    $543        $109
                   Cobble Hill             False  ...    $279         $56
                   Cobble Hill             False  ...    $928        $186
                   Cobble Hill              True  ...    $106         $21
                   Cobble Hill              True  ...    $797        $159

                                 minimum_nights number_of_reviews last_review  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill              NaN               4.0         NaN
                   Cobble Hill              2.0             222.0         NaN
                   Cobble Hill              4.0             216.0    7/1/2019
                   Cobble Hill              3.0             103.0    8/1/2017
                   Cobble Hill              3.0             254.0   6/23/2019
...                                         ...               ...         ...
                   Cobble Hill              4.0               8.0    6/3/2019
                   Cobble Hill             30.0              11.0   6/17/2019
                   Cobble Hill              1.0               3.0   3/27/2017
                   Cobble Hill              3.0              31.0   6/22/2019
                   Cobble Hill              6.0               6.0  10/27/2018

                                 reviews_per_month  review_rate_number  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill                0.04                 3.0
                   Cobble Hill                2.12                 2.0
                   Cobble Hill                2.31                 5.0
                   Cobble Hill                1.13                 5.0
                   Cobble Hill                3.05                 4.0
...                                            ...                 ...
                   Cobble Hill                0.29                 4.0
                   Cobble Hill                0.47                 3.0
                   Cobble Hill                0.11                 2.0
                   Cobble Hill                2.98                 2.0
                   Cobble Hill                0.13                 5.0

                                calculated_host_listings_count  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
...                                                        ...
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0
                   Cobble Hill                             1.0

                                 availability_365  \
neighborhood_group neighborhood
Brooklyn           Cobble Hill              351.0
                   Cobble Hill               23.0
                   Cobble Hill                NaN
                   Cobble Hill              354.0
                   Cobble Hill              405.0
...                                           ...
                   Cobble Hill                1.0
                   Cobble Hill              324.0
                   Cobble Hill                0.0
                   Cobble Hill              101.0
                   Cobble Hill               89.0

                                                                       house_rules
neighborhood_group neighborhood
Brooklyn           Cobble Hill                                                 NaN
                   Cobble Hill   People live downstairs, so please don't walk a...
                   Cobble Hill   Please be respectful of the space and building...
                   Cobble Hill   Quiet Respectful Friendly Clean No smoking of ...
                   Cobble Hill   Please Note: This unit was just renovated in N...
...                                                                            ...
                   Cobble Hill   We ask that guest DO NOT host any additional g...
                   Cobble Hill   This is a no-smoking apartment. If you do smok...
                   Cobble Hill   Must be 21 to book No loud music No parties No...
                   Cobble Hill   NO PETS!  NO SMOKING ON PREMISES! NO PARTY! A ...
                   Cobble Hill                                                 NaN

[199 rows x 23 columns]